{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'register.css' %}">

<div class="header-main">
    <img src="{% static 'nav logo 1.svg' %}" alt="logo" srcset="">
</div>
<div class="login-h1">
    <h1>Registration</h1>
    </div>
<div class="background-robo">
    <img src="{% static 'robowe 1.svg' %}" alt="robo">
</div>
<div class="main"></div>
<div class="register-forms">
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="fname" placeholder="Full name" required><br>
        <input type="text" name="Phno" placeholder="Phone number" required><br>
        <input type="email" name="email" placeholder="Email id" required><br>
        <input type="password" name="pass1" placeholder="Password" required><br>
        <input type="submit" value="Submit">
    </form>
    <p>Already have an account?<a href="{% url 'login' %}">Login</a></p>
</div>
{% if messages %}
<div class="message-color">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}